@import "~src/theme/theme.scss";

.primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px dashed color($color: "primary");
  border-radius: $border-radius-medium;
  background-color: color($color: "background-accent");
  @include h3();
  color: color($color: "text-primary");
  transition: $transition;
  cursor: pointer;
  &:active {
    background-color: color($color: "background-secondary");
    border: 4px dashed color($color: "secondary");
  }
}
