@import "~src/theme/theme.scss";

.list-header {
  padding: $padding-large;
  position: fixed;
  background: color($color: "background");
  width: 100%;
  padding-bottom: 0px;
  top: 0;
  h1 {
    font-size: font-size($size: "large") !important  ;
  }
}

.list-container {
  padding: $padding-3xl $padding-large;
  min-height: 100vh;

  &__header {
    .dropdown {
      margin: $margin-medium 0;
    }
  }
}

@include laptop() {
  .list-container {
    margin-left: 100px;
    margin-top: $margin-xl;
  }
}

@include tab() {
  .list-container {
    &__header {
      width: calc(100% - 24px) !important;
      display: flex;
      align-items: center;
      .calendar,
      .dropdown {
        flex: 1;
        margin: 0 $margin-medium;
      }
    }
    &__main-contents {
      width: calc(100% - 24px) !important;
      .add-btn {
        margin-top: $margin-large;
        width: 50%;
      }
    }
  }
}
