<div class="list-header">
  <h1>Lists</h1>
</div>
<div class="list-container">
  <div class="list-container__header">
    <div class="calendar">
      <heylo-three-card-calendar></heylo-three-card-calendar>
    </div>

    <div class="dropdown">
      <heylo-dropdown-list
        [dropDownList]="categoryDropdown$ | async"
        [default]="defaultDropdown"
        [showDefault]="true"
      ></heylo-dropdown-list>
    </div>
  </div>

  <div class="list-container__main-contents">
    <div class="add-btn">
      <heylo-primary-button label="+ Add"></heylo-primary-button>
    </div>
  </div>
</div>
