<div class="add-category-container">
  <div class="add-category-container__form">
    <div class="input-text">
      <label class="text-label"> Category name </label>
      <input
        autocomplete="off"
        class="custom-input-text"
        type="text"
        placeholder="Please enter a category name"
      />
    </div>
  </div>

  <div class="add-category-container__actions">
    <heylo-primary-button
      width="300px"
      height="60px"
      label="+ ADD"
    ></heylo-primary-button>
  </div>
</div>
